/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* RESET ABOVE ^^^ */
.main-container {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}

.navparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 16px 32px;
  cursor: pointer;
  color: #ccc;
  text-decoration: none;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  width: 100%;
}

a:hover {
  color: #666;
  text-decoration-color: aquamarine;
}

.logo {
  padding: 10px 10px;
}

button {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.left-section {
  text-align: center;
  margin: 30px;
  padding: 35px;
  margin-left: 80px;
  justify-content: center;
}

.right-section {
  height: auto;
  padding-top: 20px;
}

.button {
  background: white;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid black;
  padding: 5px 40px;
  margin-top: 5px;
}

.button:hover {
  background: black;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.title,
.title-on,
.title-demand {
  font-size: 75px;
  line-height: 0.8;
  vertical-align: middle;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid black;
}

.features {
  padding: 10px 5px 15px 5px;
}

.about {
  padding: 10px 5px 15px 5px;
}

.middle-img {
  width: 100%;
  padding-bottom: 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services {
  padding: 10px 10px;
}

.product {
  padding: 10px 10px;
}

.vision {
  padding: 10px 10px;
}

.contact {
  padding: 40px 10px 0 0;
}

.copyright {
  margin: 40px 0;
  text-align: center;
}

/* START OF SERVICES.HTML */
.container {
  max-width: 1000px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.navservices {
  display: flex;
}

#servicesnav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#servicesnav a {
  width: 100%;
  padding: 2%;
}

.servicessection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.services-header-img {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.main-box-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 30px;
}

.box {
  background-color: rgb(240, 240, 240);
  width: 48%;
  height: auto;
  margin-bottom: 35px;
  padding: 25px;
  border: 1.5px solid black;
}

.learn-more-button {
  background-color: white;
  font-size: 11px;
  margin-top: 20px;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  border: 1.5px solid black;
}

.learn-more-button:hover {
  background-color: aquamarine;
  color: black;
}

.bottom-services {
  border-top: 3px solid black;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
  padding-bottom: 45px;
}

.service-facts {
  width: 400px;
}

/* END OF SERVICES*/

@media (max-width: 800px) {
  .navservices {
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navparent {
    height: 20vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 5px;
  }

  nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
  }

  #servicesnav a {
    height: 8vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .services-header-img {
    width: 100%;
  }

  .circle {
    display: none;
  }

  .middle-section {
    margin-top: 1px;
    margin-bottom: 50px;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    width: 80%;
  }

  .left-section h1 {
    align-items: center;
  }

  .bottom-services {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .service-facts {
    margin: 4%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 1000px;
  }

  .navparent {
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .navservices {
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .logo {
    padding: 10px;
    margin: 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 42vh;
  }

  #servicesnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 42vh;
    width: 100%;
  }

  nav a {
    margin: 0.01px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #servicesnav a {
    text-align: center;
    font-size: 25px;
    margin: 0.01px;
    padding: 10px;
    padding-top: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  a {
    font-size: 25px;
  }

  .left-section {
    width: 68%;
  }

  .servicessection {
    padding-top: 35px;
    width: 100%;
    border-bottom: 3px solid black;
  }

  .main-box-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 80%;
  }

  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-top: 3px solid black;
  }

  .features {
    padding: 10px;
    margin-top: 20px;
  }

  .about {
    padding: 10px;
    margin-top: 20px;
  }

  .bottom-services {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .services-info-img,
  .service-facts {
    align-items: center;
    width: 90%;
  }

  .service-facts {
    margin: 5%;
    margin-top: 30px;
    padding-top: 10px;
  }

  ul {
    padding: 20px;
  }

  li {
    color: dodgerblue;
    text-decoration: underline;
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-bottom: 3px solid black;
  }

  .services {
    padding: 10px;
  }

  .product {
    padding: 10px;
    margin-top: 20px;
  }

  .vision {
    padding: 10px;
    margin-top: 20px;
  }
}
